*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.container{
    width: 60vw;
    margin: auto;
}

.leftli{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    float: left;
    margin-top: 20px;
}

.rightli{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    float: right;
    margin-top: 20px;
}

.vr{
    width: 1px;
    height: 20px;
}

#fixedmenu{
    width: 60%;
    margin: auto;
}

.greybg{
    background-color: #F5F8FA;
    height: 7vh;
    position: fixed;
    width: 100%;
}

a{
    text-decoration: none;
}

.loginbutt{
    background-color: white;
    border-color: #FF8F73;
    color: #FF8F73;
    padding:5px 20px;
}

button{
    background-color: #FF8F73;
    border-radius: 5px;
    border: 1px solid #FF8F73;
    color: white;
    padding:5px 10px;
}

#secondh{
    height: 8vh;
    margin-top: 7vh;
}

#logo{
    float: left;
    margin-top: 10px;
}

.lastheadli{

    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    float: right;
    margin-top: 20px;
}

/* Primo blocco */

.firstcontent{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 75vh;
}

#textcontainer{
    width: 35%;
    padding-top: 150px;
    left: 0;
    color: #33475B;
}

#seconbutton{
    margin-top: 20px;
    margin-bottom: 20px;
    padding:25px 55px;
}

h1{
    font-size: 50px;
}

/* Secondo Blocco */

#bgcolor{
    background-color: #F5F8FA;
}

#secondblock{
    padding-top: 10%;
}

#firstillustration{
    width: 25%;
    height: 25%;
    text-align: center;
    margin-left: 400px;
}

.textall{
    text-align: center;
    margin-bottom: 10px;
    width: 70%;
    margin: auto;
}

#title{
    font-size: 35px;
    color: #33475B;
}

#blocks{
    width: 90%;
    margin: auto;
}

.firstlil{
    height: 30vh;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 97%;
    background-color: white;
    padding-left: 20%;
    padding-right: 10%
}

.lilblock{
    height: 55vh;
    width: 34vh;
    float: left;
    margin-right: 25px;
    background-color: white;
}

#imgcontainer{
    height: 100%;
    float: left;
}

#padbut{
    text-align: center;
    margin-top: 20px;
}

.blocksbutton{
    padding:10px 20px;
}

#intblock{
    padding-left: 13%;
    padding-top: 3%;
}

.titleblock{
    font-size: 25px;
    color: #415366;
}

.textblock{
    color: #949EA9;
    font-size: 14px;
}
